h1 {
    color: rgb(111, 166, 228);
  }

h2 {
  color: rgb(68, 113, 165);
}

.my_icon {
  height: 35px;
  width: 35px;
}

a:link { text-decoration: none; }

.no-link-style {
  color: #000000 !important;
  text-decoration: none !important;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
