h1 {
    color: rgb(111, 166, 228);
  }

h2 {
  color: rgb(68, 113, 165);
}

.my_icon {
  height: 35px;
  width: 35px;
}

a:link { text-decoration: none; }

.no-link-style {
  color: #000000 !important;
  text-decoration: none !important;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 1em;
  padding: 30px;
}

header, nav {
  grid-column: 1/4;
}

.articles {
  /* Start on Row 2 */
  grid-row: 3;
  /* Start on the second column line and stop at the third column line */
  grid-column: 1 / 4;
}

