= bootstrap_form_with model: [ likeable_model, likeable_model.poly_likes.build ] do |form|
  = form.hidden_field :likeable_id, value: record_id
  = form.hidden_field :likeable_type, value: record_type
  = form.primary "Like"